 :root {
     --primary: #f5f5f5;
     --main: #087021;
     --dark: #333;
     --glass: rgba(255, 255, 255, 0.08);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     overflow-x: hidden;
 }

 body {
     font-family: 'Poppins', sans-serif;
     background: var(--primary);
     color: var(--main);
     scroll-behavior: smooth;
     overflow-x: hidden;
 }

 h1 span {
     font-size: 26px;
 }

 h2 {
     text-align: center;
     margin-bottom: 80px;
     font-size: 2.5rem;
 }

 /* NAV */
 nav {
     position: fixed;
     width: 100%;
     padding: 20px;
     display: flex;
     justify-content: center;
     gap: 80px;
     backdrop-filter: blur(12px);
     z-index: 1000;
 }

 nav a {
     color: white;
     text-decoration: none;
     font-weight: 500;
     transition: .3s;
 }

 nav .logo img {
     width: 400px;
 }

 nav a:hover {
     color: var(--primary);
 }

 .btn {
     font-size: .8125rem;
     border-radius: 5px;
     font-weight: 700;
 }

 .card .btn-primary {
     color: #fff;
     background-color: #087021;
     border-color: #087021;
     padding: 25px;
 }

 .card .btn-primary:hover {
     background-color: rgb(5.45, 76.3, 22.48125);
     border-color: rgb(4.6, 64.4, 18.975);
 }

 .card .btn-primary i {
     margin-right: 10px;
 }

 /* SECTION */
 section {
     padding: 120px 15%;
     min-height: 100vh;
 }

 /* HERO */
 .hero {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .hero h1 {
     font-size: 44px;
     font-weight: 800;
     background: var(--main);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 20px;
 }

 @media (max-width: 1240px) {
     .hero h1 {
         font-size: 35px;
         line-height: 1.1;
     }
 }

 /* SWIPER */
 .swiper {
     width: 100%;
     max-width: 1000px;
     height: 450px;
     border-radius: 25px;
     overflow: hidden;
     margin-top: 40px;
     box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
 }

 .swiper-slide img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 /* CARDS */
 .activities {
     display: flex;
     flex-direction: column;
     gap: 80px;
 }

 .card {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     background: var(--glass);
     padding: 40px;
     border-radius: 25px;
     backdrop-filter: blur(15px);
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
     align-items: center;
     transition: .4s;
 }

 .card a {
     color: unset;
     text-decoration: auto;
 }

 .card:hover {
     transform: translateY(-10px);
 }

 .card img {
     width: 100%;
     border-radius: 20px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
     max-height: 350px;
     object-fit: cover;
 }

 #final .card img {
    max-height: unset;
 }

 .card h3 {
     font-size: 1.6rem;
     margin-bottom: 25px;
     color: var(--dark);
 }

 .card p {
     line-height: 1.6;
     opacity: 0.9;
 }

 /* Responsive */
 @media(max-width:900px) {
     .card {
         grid-template-columns: 1fr;
     }
 }

 footer {
     text-align: center;
     padding: 40px;
     background: var(--dark);
     font-size: 0.9rem;
     color: var(--primary);
 }


 /* NAV RESPONSIVE */
 nav {
     flex-wrap: wrap;
     gap: 40px;
 }

 @media (max-width: 1240px) {

     nav {
         flex-direction: row;
         /* 👈 mantenemos en fila */
         justify-content: space-between;
         align-items: center;
         padding: 15px 20px;
     }

     .logo img {
         width: 180px;
         /* opcional: reduce logo en móvil */
     }

 }

 /* FINAL RESPONSIVE */
 .flexp {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 30px;
 }

 .flexp .card {
     flex: 1 1 300px;
     margin: 20px 0;
     grid-template-columns: unset;
     padding: 25px;
 }

 #final .card img {
     width: 100%;
     height: auto;
     border-radius: 0;
 }

 #final>.card {
     margin-top: 30px;
 }

 #final>.card img {
     max-width: 450px;
 }

 @media (max-width: 1240px) {
     #final .card {
         padding: 20px;
     }
 }

 /* NAV BASE */
 nav {
     position: fixed;
     width: 100%;
     padding: 10px 10% 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: var(--dark);
     backdrop-filter: blur(12px);
     z-index: 1000;
 }

 .logo {
     font-weight: 700;
     font-size: 1.2rem;
 }

 @media (max-width: 1240px) {
     .logo {
         max-width: 80%;
     }

     section {
         padding: 120px 5%;
     }

     nav .logo img {
         object-fit: cover;
         height: 50px;
         width: 53px;
         object-position: left;
         overflow: hidden;
     }
 }

 /* NAV LINKS */
 .nav-links {
     display: flex;
     gap: 50px;
 }

 .nav-links a {
     color: white;
     text-decoration: none;
     font-weight: 600;
     transition: 0.3s;
 }

 .nav-links a:hover {
     color: var(--primary);
 }

 /* HAMBURGER */
 .hamburger {
     display: none;
     flex-direction: column;
     gap: 6px;
     cursor: pointer;
 }

 .hamburger span {
     width: 28px;
     height: 2px;
     background: white;
     border-radius: 3px;
     transition: 0.4s;
 }

 /* ANIMACIÓN */
 .hamburger.active span:nth-child(1) {
     transform: rotate(45deg) translate(5px, 5px);
 }

 .hamburger.active span:nth-child(2) {
     opacity: 0;
 }

 .hamburger.active span:nth-child(3) {
     transform: rotate(-45deg) translate(6px, -6px);
 }

 /* RESPONSIVE */
 @media (max-width: 1240px) {

     .hamburger {
         display: flex;
     }

     .nav-links {
         position: absolute;
         top: 100%;
         right: 0;
         width: 100%;
         flex-direction: column;
         background: var(--dark);
         text-align: center;
         padding: 30px 0;
         gap: 25px;
         transform: translateY(-200%);
         transition: 0.4s ease-in-out;
     }

     .nav-links.active {
         transform: translateY(0);
     }
 }

 .img-ribbon {
     overflow: hidden;
     position: relative;
 }

 .ribbon {
     position: absolute;
     top: 5%;
     width: 70%;
     right: 50%;
     background: #e63946;
     color: white;
     padding: 8px 60px;
     font-size: 0.8rem;
     font-weight: bold;
     transform: rotate(-45deg);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 }

 .ribbon .fa {
     margin-left: 6px;
 }

 @font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}